<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .button-row {
            display: flex;
            gap: 10px; /* optional spacing between buttons */
        }
    </style>
</head>
<body>
<!--<form th:object="${patient}" th:action="@{/patients/profile}" class="form-horizontal" id="add-patient-form" method="post">-->
<!--<input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{firstName}"/>
    <input type="hidden" th:field="*{lastName}"/>-->
    <table class="table table-striped" th:object="${patient}">
    <tr>
        <th>First Name</th>
        <td><b th:text="*{firstName}"></b></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><b th:text="*{lastName}"></b></td>
    </tr>
        <tr>
            <th>Date of Birth</th>
            <td><b th:text="${#temporals.format(patient.dateOfBirth, 'dd-MM-yyyy')}"></b> </td>
        </tr>
        <tr>
            <th>Email</th>
            <td><b th:text="*{email}"></b></td>
        </tr>
        <tr>
            <th>Insurance Number</th>
            <td><b th:text="*{insuranceNumber}"></b></td>
        </tr>
    </table>
    <form th:object="${patient}" th:action="@{/patients/profile}" class="form-horizontal" id="add-patient-form" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="button-row">
            <!--<button type="button"  th:onclick="|window.location.href='/patients/profile?visits=true?patient='+${patient}|" class="btn btn-outline-primary me-2">Show Visits</button>-->
            <button class="btn btn-outline-primary me-2" type="submit" name="edit">Edit</button>
            <button class="btn btn-outline-primary me-2" type="submit" name="showAdmissions">Show admissions</button>
            <button class="btn btn-outline-primary me-2" type="submit" name="showVisits">Show visits</button>
            <button class="btn btn-outline-primary me-2" type="submit" name="createAdmission">Create Admission</button>
        </div>
       </form>


<!--</form>-->
<div class="container-mt3">
<table th:if = "${visits != null and #lists.size(visits) > 0}" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.id}"></td>
        <td th:text="${visit.status}"></td>
    </tr>
    </tbody>
</table>
</div>

<div class="container-mt3">
    <table th:if = "${admissions}!=null" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admission : ${admissions}">
            <td th:text="${admission.id}"></td>
            <td th:text="${admission.status}"></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="../webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>


</body>
</html>